<div class = "main">
    <!--Nav bar-->
    <div>
        <nav class="navbar">
            <div class="logo">
                <h4><a href="/">Udemy Database</a></h4>
            </div>
            <ul class="nav-links">
                <li><a href="/">View Tables</a></li>
                <li><a href="/create_course">Create a course</a></li>
                <li><a href="/search">Search by Category</a></li>
                <li><a href="/delete">Delete</a></li>
                <li><a href="/sort">Sort By Price</a></li>
            </ul>   
        </nav>
    </div>        
</div>